input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-content {
  padding: 16px 16px!important;
}

.mat-expansion-panel-header {
  height: 64px;
}

.mat-expansion-panel-spacing {
  margin: 16px 0;
}
/* upload section */
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}
.mat-toolbar-single-row button {
  width: 200px;
}
.mat-form-field {
  width: 100%;
}
#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;    
  /* z-index: 9; */
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.figure {
  z-index: 1;
}
.btn-close {
  z-index: 2;
}
/* ------------------------------- */
.add_another_tool {
  line-height: 50px!important;
  padding: 0px 16px!important;
  font-size: 18px!important;
}

.material-icons {
  font-size: 30px;
  height: 30px;
}

.table, th, td {
  padding: 15px!important;
}

/* .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
} */

