<div class="container-xl">
  <h1 class="text-center mat-display-3 my-5 title">ONLINE REPAIR ENQUIRY</h1>
  <form [formGroup]="roform" (ngSubmit)="Submit_Roform()">
    <mat-stepper linear [orientation]="(stepperOrientation | async)!" #stepper class="mt-3">
      <!-- Step 1 -->
      <mat-step>
        <ng-template matStepLabel>Your Product Details</ng-template>
        <!-- Header -->
        <div class="mb-3 mt-4">
          <h3>Regardless of whether it is picked up or sent in - shipping and return within Germany are free of charge when using this online order form! The devices will be returned within 3 - 5 days. Simply fill out the online repair order. </h3>
    
          <mat-list role="list">
            <mat-list-item role="listitem">1. Your copy of the proof of purchase (in case of warranty).</mat-list-item>
            <mat-list-item role="listitem">2. The device name and type number of your product.</mat-list-item>
          </mat-list>
  
          <h1 class="mat-display my-3">FILL OUT THE PRODUCT DETAILS</h1>
        </div>
        <!-- Body -->
        <mat-accordion>
          <div formArrayName="products">
            <div *ngFor="let prod of roform.controls.products.controls let i=index;" [formGroupName]="i">
              <mat-expansion-panel class="my-4">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Product {{i+1}}
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end" *ngIf="i>0">
                        <button mat-raised-button color="warn" class="me-5" (click)="del_product(i)">Delete</button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row my-4">
                  <div class="col-md-4">
                    <!-- Tool Type Number -->
                    <mat-form-field class="w-100 ms-2 mb-3">
                      <mat-label>Tool Type Number</mat-label>
                      <input matInput type="number" placeholder="Tool Type Number" formControlName="tool_type_number" class="example-right-align">
                    </mat-form-field>
                    <!-- Tool Name -->
                    <mat-form-field class="w-100 mb-3">
                      <mat-label>Tool Name</mat-label>
                      <input matInput type="number" placeholder="Tool Name" formControlName="tool_name" class="example-right-align">
                    </mat-form-field>
                    <!-- Serial Number -->
                    <mat-form-field class="w-100 mb-3">
                      <mat-label>Serial Number</mat-label>
                      <input matInput type="number" placeholder="Serial Number" formControlName="serial_number" class="example-right-align">
                    </mat-form-field>
                    <!-- Description -->
                    <mat-form-field class="w-100 mb-3">
                      <mat-label>Description of faults</mat-label>
                      <textarea rows="5" matInput placeholder="Description of faults" formControlName="description" class="example-right-align"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <figure class="figure">
                      <img src="assets/tool type number.jpg" class="figure-img img-fluid rounded" alt="Tool type number">
                      <h2>Tool type number Ex: 3601JG0100</h2>
                      <ol class="list-group list-group-flush">
                        <li class="list-group-item">
                          1. The ten-digit tool type number can be found O on your product or your user manual. e.g.: 3601JG0100 If the tool type number of your device is no longer readable, please enter 9999999999 as a placeholder.
                        </li>
                        <li class="list-group-item">
                          2. Your serial number is shown on your tools data plate. e.g.: 709002180 If the data plate information is worn or unreadable please use dummy number "999".
                        </li>
                      </ol>
                    </figure>
                  </div>
                  <div class="col-md-4">
                    <figure class="figure">
                      <img src="assets/tool name.jpg" class="figure-img img-fluid rounded" alt="Tool name">
                      <h2>Tool name Ex: GSR 18V-85C</h2>
                      <ol class="list-group list-group-flush">
                        <li class="list-group-item">
                          The tool name is written on your tools' housing or your user manual. 
                        </li>
                      </ol>
                    </figure>
                  </div>
                </div>
      
                <mat-divider class="my-4"></mat-divider>
  
                <div>
                  <h1 class="mat-display">Would you like to send the accessories?</h1>
                  <mat-radio-group aria-label="Select an option" color="primary" formControlName="acc_condition">
                    <mat-radio-button class="example-radio-button mx-2" value="Yes" name="acc_condition">Yes</mat-radio-button>
                    <mat-radio-button class="example-radio-button mx-2" value="No" name="acc_condition">No</mat-radio-button>
                  </mat-radio-group>
                  <div *ngIf="prod.controls.acc_condition.value === 'Yes'">
                    <div class="row mt-3 ms-2" formArrayName="myaccessories">
                     <div class="col-md-2" *ngFor="let acc of prod.controls.myaccessories.controls; let ii=index;" [formGroupName]="ii">
                        <mat-checkbox color="primary" formControlName="{{acc.value.acc_name}}" class="me-3 mb-3">{{acc.value.acc_name}}</mat-checkbox>
                        <mat-form-field class="w-100" *ngIf="roform.value.products[i].myaccessories[ii].case">
                           <mat-label>{{acc.value.acc_name +' quantity'}}</mat-label>
                           <input matInput type="number" formControlName="{{acc.value.quantity_name}}">
                        </mat-form-field>
                        <mat-form-field class="w-100" *ngIf="roform.value.products[i].myaccessories[ii].battery">
                           <mat-label>{{acc.value.acc_name +' quantity'}}</mat-label>
                           <input matInput type="number" formControlName="{{acc.value.quantity_name}}">
                        </mat-form-field>
                        <mat-form-field class="w-100" *ngIf="roform.value.products[i].myaccessories[ii].charger">
                           <mat-label>{{acc.value.acc_name +' quantity'}}</mat-label>
                           <input matInput type="number" formControlName="{{acc.value.quantity_name}}">
                        </mat-form-field>
                     </div>
                    </div>
                  </div>
                </div>
                
                <mat-divider class="mt-4"></mat-divider>

                <div class="row mt-4">
                  <h1 class="mat-display">Enter repair type of your tool</h1>
                  <h3>Specify the typeof your order.</h3>
                  <mat-radio-group aria-label="Select an option" color="primary" formControlName="repair_type">
                    <mat-radio-button class="example-radio-button mx-2" value="Warranty">Warranty</mat-radio-button>
                    <mat-radio-button class="example-radio-button mx-2" value="Out of Warranty">Out of Warranty</mat-radio-button>
                  </mat-radio-group>
                  <div class="mt-4">
                    <!-- Warranty -->
                    <div *ngIf="roform.value.products[i].repair_type === 'Warranty'">
                      <h3>
                        Repairs in case of a warranty claim are free of charge. 
                        In addition to the warranty conditions the Robert Bosch Power Tools GmbH service conditions apply.
                      </h3>
                      <h1 class="mat-display mt-4">Upload the proof of purchase</h1>
                      <h3>
                        Simply upload a photo or scan of your proof of purchase in JPG, GIF, PNG, PDF format. 
                        (Or include a copy of your proof of purchase in your package.) 
                      </h3>
                      <h3>
                        If you add additional warranty tools, please be sure to attach the corresponding valid proof of purchase. 
                      </h3>
                      <h3>
                        Before taking photos of the invoice certifying the purchase of Bosch products and under which the end Customer will benefit from the warranty, 
                        respectively before uploading these invoices in the application, 
                        it is mandatory to hide/ cover the prices of the products on that invoice, whether they are Bosch products or products 
                        from other brands purchased from other traders or manufacturers. Bosch does not intend to follow, in any way, 
                        the prices of any product. 
                        The invoice is required only for the simple proof of purchasing those tools in order to provide the warranty to the end Customer. 
                      </h3>
                      <!-- Upload image -->
                      <div class="row g-2 my-3">
                        <div class="col-md-3">
                          <input type="file" (change)="onFileChange($event)" formControlName="preview_img" multiple *ngIf="files_length <= 2">
                          <!-- <div class="col-md-3">
                              <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                  <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
                              </div>
                          </div> -->
                        </div>
                        <div class="col-md-3" *ngFor="let img_url of preview_img | slice:0:3 let iii = index">
                          <div class="position-relative">
                            <img [src]="img_url" class="img-thumbnail rounded shadow-sm">
                            <button type="button" class="btn-close position-absolute top-0 end-0 p-1 mt-1 me-1" (click)="del_img(file_name, file_name[iii], iii)"></button>
                            <!-- {{file_name[iii]}} -->
                            {{roform.value.products[i].warranty_files[iii]}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Out of Warranty -->
                    <div *ngIf="roform.value.products[i].repair_type === 'Out of Warranty'">
                      <h3>If the repair costs do not exceed HRK 30.00, the repair will be carried out immediately. 
                        Please indicate the cost limit up to which the repair should be carried out without consultation if the repair costs exceed HRK 30.00.</h3>
                      <h1>Cost Limit</h1>
                      <div class="col-md-4">
                        <!-- Cost Limit -->
                        <mat-form-field class="w-100 mb-2">
                          <mat-label>Cost Limit</mat-label>
                          <input matInput type="number" formControlName="cost_limit" placeholder="Cost Limit" class="example-right-align">
                        </mat-form-field>
                      </div>
                      <mat-list role="list">
                        <mat-list-item role="listitem">
                          1. Only the actual repair costs will be charged. 
                          If the repair costs exceed the cost limit, you will receive a cost estimate. 
                          Only if you decide to return your unrepaired and dismantled device will we charge a processing fee of HRK 30.00 including shipping costs. 
                          If you would like us to dispose of your device, we will charge a processing fee of HRK 30.00.
                        </mat-list-item><br>
                        <mat-list-item role="listitem">
                          2. Payment is made by invoice.
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          3. For further information and conditions, please refer to the current price list and our service conditions.
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          4. All prices include VAT.
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                </div>
                
              </mat-expansion-panel>
            </div>
          </div>
        </mat-accordion>
        <!-- Bottom -->
        <div>
          <button mat-raised-button color="primary" class="mt-1 mb-3 add_another_tool" (click)="add_product()" *ngIf="roform.controls.products.controls.length <= 2"><mat-icon class="me-3">add</mat-icon><span>Add another tool</span></button>
          <h3>
            You can apply for the repair of up to three tools this time. You can click "Add another tool" to input other tool information, 
            but they need to be of the same service type. If all are warranty or paid repairs, we can create up to three tools for you. Different repair orders.
          </h3>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-3 me-5 d-flex justify-content-evenly">
          <div></div>
          <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step 2 -->
      <mat-step>
        <ng-template matStepLabel>Your Personal Details</ng-template>
        <mat-card class="mt-4">
          <div class="row justify-content-start">
            <h1>Personal Details</h1>
            <div class="col-sm-6 col-md-3">
              <!-- Choose Title -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Choose Title</mat-label>
                <mat-select formControlName="title">
                  <mat-option value="Mr">Mr</mat-option>
                  <mat-option value="Mrs">Mrs</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- First and Last name -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>First and Last name</mat-label>
                <input matInput type="text" formControlName="first_last_name" placeholder="First and Last name" class="example-right-align" #flname minlength="3" maxlength="25">
                <mat-hint>Min 3 and Max 25 charaters only</mat-hint>
                <mat-hint align="end">{{flname.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- Mobile number -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Mobile number</mat-label>
                <input matInput type="number" formControlName="mobile_number" placeholder="Mobile number" class="example-right-align" #mn>
                <mat-hint>Min 10 and Max 10 numbers only</mat-hint>
                <mat-hint align="end">{{mn.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- E-mail address -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>E-mail address</mat-label>
                <input matInput type="text" formControlName="email_address" placeholder="E-mail address" class="example-right-align" #ea minlength="5" maxlength="25">
                <mat-hint>Min 5 and Max 25 charaters only</mat-hint>
                <mat-hint align="end">{{ea.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <mat-divider class="mt-2 mb-4"></mat-divider>
            <h1>Company Details</h1>
            <div class="col-sm-6 col-md-3">
              <!-- Company name -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Company name</mat-label>
                <input matInput type="text" formControlName="comapany_name" placeholder="Company name" class="example-right-align" #cm minlength="3" maxlength="25">
                <mat-hint>Min 3 and Max 25 charaters only</mat-hint>
                <mat-hint align="end">{{cm.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- Reference number -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Reference number</mat-label>
                <input matInput type="number" formControlName="reference_number" placeholder="Reference number" class="example-right-align" #rn minlength="10" maxlength="25">
                <mat-hint>Min 10 and Max 25 numbers only</mat-hint>
                <mat-hint align="end">{{rn.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- VAT ID -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>VAT ID</mat-label>
                <input matInput type="text" formControlName="vat_id" placeholder="VAT ID" class="example-right-align" #vi minlength="10" maxlength="25">
                <mat-hint>Min 10 and Max 25 numbers only</mat-hint>
                <mat-hint align="end">{{vi.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <mat-divider class="mt-2 mb-4"></mat-divider>
            <h1>Address Details</h1>
            <div class="col-sm-6 col-md-3">
              <!-- Town name -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Town name</mat-label>
                <input matInput type="text" formControlName="town_name" placeholder="Town name" class="example-right-align" #twn minlength="3" maxlength="25">
                <mat-hint>Min 3 and Max 25 charaters only</mat-hint>
                <mat-hint align="end">{{twn.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- Street name -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Street name</mat-label>
                <input matInput type="text" formControlName="street_name" placeholder="Street name" class="example-right-align" #stn minlength="3" maxlength="25">
                <mat-hint>Min 3 and Max 25 charaters only</mat-hint>
                <mat-hint align="end">{{stn.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- House number -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>House number</mat-label>
                <input matInput type="number" formControlName="house_number" placeholder="House number" class="example-right-align" #hn minlength="10" maxlength="25">
                <mat-hint>Min 10 and Max 25 numbers only</mat-hint>
                <mat-hint align="end">{{hn.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-3">
              <!-- Postal Code -->
              <mat-form-field class="w-100 mb-3">
                <mat-label>Postal Code</mat-label>
                <input matInput type="number" formControlName="postal_code" placeholder="Postal Code" class="example-right-align" #pc minlength="10" maxlength="25">
                <mat-hint>Min 10 and Max 25 numbers only</mat-hint>
                <mat-hint align="end">{{pc.value?.length || 0}}/25</mat-hint>
              </mat-form-field>
            </div>
            <mat-divider class="mt-2 mb-4"></mat-divider>
            <h1>SELECT YOUR DELIVERY OPTION</h1>
            <H3>Select logistic provider</H3>
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="logistic_provider">
              <mat-radio-button class="example-radio-button mx-2 mb-4" value="GLS"> GLS </mat-radio-button>
              <mat-radio-button class="example-radio-button mx-2 mb-4" value="DPD"> DPD </mat-radio-button>
            </mat-radio-group>
            <div class="col-sm-6 col-md-3">
              <div *ngIf="roform.value.logistic_provider === 'GLS'">
                <mat-form-field>
                  <mat-label>Select pick-up date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="gls_pickup_date">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div *ngIf="roform.value.logistic_provider === 'DPD'">
                <mat-form-field>
                  <mat-label>Select pick-up date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dpd_pickup_date">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <mat-divider class="mt-2 mb-4"></mat-divider>
            <div class="mb-4">
              <h1>TERMS AND CONDITIONS</h1>
              <section class="example-section">
                <mat-checkbox color="primary" value="true" formControlName="terms_conditions">I have read and agree to "Terms of Service".</mat-checkbox><br><br>
                <mat-checkbox color="primary" value="true" formControlName="data_protection_notice">I have read and agree to "Data Protection Notice".</mat-checkbox>
              </section>
            </div>
          </div>
          <mat-divider></mat-divider>
          <!-- Bottom -->
          <div class="mt-3 d-flex justify-content-evenly">
            <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
          </div>
        </mat-card>
      </mat-step>
      <!-- Step 3 -->
      <mat-step>
        <ng-template matStepLabel>Confirm Your Details</ng-template>
        <mat-card class="mt-4">
          <h1>Product Details</h1>
          <mat-accordion>
            <div formArrayName="products">
              <div *ngFor="let prod of roform.controls.products['controls'] let i=index;" [formGroupName]="i">
                <!-- Products -->
                <mat-expansion-panel class="mb-4" expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Product {{i+1}}
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end">
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td>Tool Type Number</td>
                              <td>{{roform.value.products[i].tool_type_number}}</td>
                            </tr>
                            <tr>
                              <td>Tool Name</td>
                              <td>{{roform.value.products[i].tool_name}}</td>
                            <tr>
                              <td>Serial Number</td>
                              <td>{{roform.value.products[i].serial_number}}</td>
                            </tr>
                            <tr>
                              <td>Description/Faults</td>
                              <td>{{roform.value.products[i].description}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td>Accessories?</td>
                              <td>{{roform.value.products[i].acc_condition}}</td>
                            </tr>
                            <tr *ngIf="roform.value.products[i].acc_condition === 'Yes'">
                              <td>Accessories</td>
                              <td>
                                <mat-chip-list aria-label="Accessories selection">
                                  <mat-chip *ngFor="let acc of roform.controls.products.controls[i].controls.myaccessories.controls; let ii=index;" [formGroupName]="ii">
                                    <div class="d-flex justify-content-between" *ngIf="roform.value.products[i].myaccessories[ii].case === true || acc.value.case_quantity > 0">
                                       <span>
                                          {{acc.value.acc_name}} :   
                                       </span>
                                       <span *ngIf="roform.value.products[i].myaccessories[ii].case">
                                          {{acc.value.case_quantity}}
                                       </span>
                                    </div>
                                    <div class="d-flex justify-content-between" *ngIf="roform.value.products[i].myaccessories[ii].battery === true || acc.value.battery_quantity > 0">
                                       <span>
                                          {{acc.value.acc_name}} :   
                                       </span>
                                       <span *ngIf="roform.value.products[i].myaccessories[ii].battery">
                                          {{acc.value.battery_quantity}}
                                       </span>
                                    </div>
                                    <div class="d-flex justify-content-between" *ngIf="roform.value.products[i].myaccessories[ii].charger === true || acc.value.charger_quantity > 0">
                                       <span>
                                          {{acc.value.acc_name}} :   
                                       </span>
                                       <span *ngIf="roform.value.products[i].myaccessories[ii].charger">
                                          {{acc.value.charger_quantity}}
                                       </span>
                                    </div>
                                    
                                  </mat-chip>
                                </mat-chip-list>
                              </td>
                            </tr>
                            <tr>
                              <td>Repair Type</td>
                              <td>{{roform.value.products[i].repair_type}}</td>
                            <tr *ngIf="roform.value.products[i].repair_type === 'Out of Warranty'">
                              <td>Cost Limit</td>
                              <td>{{roform.value.products[i].cost_limit}}</td>
                            </tr>
                            <tr *ngIf="roform.value.products[i].repair_type === 'Warranty'">
                              <td>Images</td>
                              <td class="d-flex justify-content-between">
                                <div *ngFor="let url of preview_img | slice:0:3 let i=index">
                                  <img [src]="url" class="img-thumbnail rounded shadow-sm" width="200px">
                                  <small>{{file_name[i]}}</small>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
          <h1 class="mt-3">Personal Details</h1>
          <mat-divider class="border-5"></mat-divider>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>Title</td>
                      <td>{{roform.value.title}}</td>
                    </tr>
                    <tr>
                      <td>First and Last name</td>
                      <td>{{roform.value.first_last_name}}</td>
                    <tr>
                      <td>Mobile Number</td>
                      <td>{{roform.value.mobile_number}}</td>
                    </tr>
                    <tr>
                      <td>E-mail Address</td>
                      <td>{{roform.value.email_address}}</td>
                    </tr>
                    <tr>
                      <td>Company Name</td>
                      <td>{{roform.value.comapany_name}}</td>
                    </tr>
                    <tr>
                      <td>Reference Number</td>
                      <td>{{roform.value.reference_number}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>VAT ID</td>
                      <td>{{roform.value.vat_id}}</td>
                    </tr>
                    <tr>
                      <td>Town Name</td>
                      <td>{{roform.value.town_name}}</td>
                    </tr>
                    <tr>
                      <td>Street Name</td>
                      <td>{{roform.value.street_name}}</td>
                    <tr>
                      <td>House Number</td>
                      <td>{{roform.value.house_number}}</td>
                    </tr>
                    <tr>
                      <td>Postal Code</td>
                      <td>{{roform.value.postal_code}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <h1>Shipping Method</h1>
              <mat-divider class="border-5"></mat-divider>
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>Logistic Provider</td>
                      <td>{{roform.value.logistic_provider}}</td>
                    </tr>
                    <tr>
                      <td>Pick-up Date</td>
                      <td>{{roform.value.dpd_pickup_date || roform.value.gls_pickup_date | date}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6" *ngIf="roform.value.terms_conditions || roform.value.data_protection_notice">
              <h1>TERMS AND CONDITIONS</h1>
              <mat-divider class="border-5"></mat-divider>
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr *ngIf="roform.value.terms_conditions">
                      <td>I have read and agree to "Terms of Service".</td>
                    </tr>
                    <tr *ngIf="roform.value.data_protection_notice">
                      <td>I have read and agree to "Data Protection Notice".</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <mat-divider class="mt-1"></mat-divider>
          <!-- Bottom -->
          <div class="mt-3 d-flex justify-content-evenly">
            <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" type="reset" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary" type="submit" matStepperNext>Submit</button>
          </div>
        </mat-card>
      </mat-step>
      <!-- Step 4 -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <mat-card class="mt-4">
          <div class="p-3">
            <h1 class="text-center text-success"><b>THANK YOU FOR YOUR REPAIR ORDER</b></h1>
            <hr>
            <h2>Your reference number : 2206093205</h2>
            <p>Your device will usuallu returned within 3 - 5 days.</p>
            <p>Your PDF with your repair order will be sent to email address you provided. 
              You will also receive your special parcel label for an overview of your details about the desired collection dateand the collection address in the email.</p>
          </div>
          <mat-divider class="mt-1"></mat-divider>
          <!-- Bottom -->
          <div class="mt-3 d-flex justify-content-evenly">
            <button mat-raised-button color="primary" type="button" (click)="stepper.reset()">Home</button>
            <button mat-raised-button color="primary" type="button" (click)="stepper.reset()" matStepperNext>Create another order</button>
          </div>
        </mat-card>
        {{roform.value | json}}
      </mat-step>
    </mat-stepper>
  </form>
</div>  